In [ ]:
#@title string fields 
text = "values" #@param {type:"string"}
dropdown = "1st option"  #@param ["1st option", "2nd option", "3rd option"]
text_and_dropdown = "2nd option" #@param ["1st option", "2nd option", "3rd option"]

print(text)
print(dropdown)
print(text_and_dropdown)

values
1st option
2nd option

In [ ]:
#creating directory 
!mkdir p1
import os
os.mkdir("python1")

mkdir: cannot create directory ‘p1’: File exists

In [ ]:
!pwd

/content

In [ ]:
#creating one more directory
import os
os.mkdir("data")

In [ ]:
#renaming the directory
os.rename("data","ds")

In [ ]:
#removing the directory
os.rmdir("ds")

In [ ]:
#opening a file
#
file1 = open("/content/python1/Apr-1-2022-doc.doc","w")
file1.write("RANGANADH NARAYANAM")
file1.close()

In [ ]:
file1 = open("/content/python1/Apr-1-2022-doc.doc","a")
file1.write("I AM MS IN UTSA USA")

19

In [ ]:
file1 = open("/content/python1/Apr-1-2022-doc.doc","w")
text = ["first line\n", "second line\n", "third line"] #to pass multiple inputs to write
file1.writelines(text)

#open file for reading
file1 = open("/content/python1/Apr-1-2022-doc.doc","r")
print(file1.read())
file1.close()

first line
second line
third line

In [ ]:
#@title string fields 

text = 0 #@param {type:"integer"} 
dropdown = "2nd option" #@param ["1st option", "2nd option", "3rd option"]
text_and_dropdown = "1st option" #@param ["1st option","2nd option", "3rd option"]

print(text)
print(dropdown)
print(text_and_dropdown)

0
2nd option
1st option

In [ ]:
#@title Form

Name = 'Name' #@param {type:'string'}
Apartment = 0 #@param {type:'integer'}
Street = 'Street' #@param {type: 'string'}
District = 'District' #@param {type:'string'}
Country = 'Country' #@param {type: 'string'}
Mobile =  54655654635#@param {type:'integer'}
Gender='Gender' #@param ['Gender', 'Female', 'Male', 'Other', 'Prefer not to mention']
MS = 'Marital Status' #@param ['Marital Status', 'Unmared', 'Married']


with open('form.txt', r'a') as file:
  file.write('Name, Appartment No., Street, District, Country, Mobile No., Gender, Marital Status')
  file.write('\n')
  file.write('{}, {}, {}, {}, {}, {}, {}, {}'.format(Name, Apartment, Street, District, Country, Mobile, Gender, MS))
  file.write('\n')

In [ ]:
#file = open("form1.txt", r"a") #automatically creates a txt file "form1.txt"

In [ ]:
import pandas as pd
df = pd.read_csv("/content/form.txt")
df

ParserError: ignored

In [ ]:
with open("/content/form.txt") as f:
  read=f.read()
print(read)


#for x in read:
#  print(x)

Name, Appartment No., Street, District, Country, Mobile No., Gender, Marital Status
Name, 0, Street, District, Country, 54655654635, Gender, Marital Status
{'Name': ['nethaji'], 'Gender': ['Male'], 'Mobile': [9876543210], 'Address': ['India'], 'Marital_Status': ['Single']}Name, Appartment No., Street, District, Country, Mobile No., Gender, Marital Status
Name, 0, Street, District, Country, 54655654635, Gender, Marital Status

In [ ]:
lines = []
with open("/content/form.txt") as f:
    lines = f.readlines()
print(lines[0])

Name, Appartment No., Street, District, Country, Mobile No., Gender, Marital Status

In [ ]:
#@title Date fields
date_input = '2016-03-09' #@param {type:"date"}

print(date_input)

2016-03-09

In [ ]:
#@title Swiss Bank

Name = 'nethaji' #@param {type: 'string'}
Gender = "Male" #@param ['Select', 'Male', 'Female', 'Other']
Mobile =  9876543210#@param {type: 'integer'}
Address = 'India' #@param {type: 'string'}
Marital_Status = 'Single' #@param ['Select', 'Single', 'Married']

output = {'Name': [Name], 'Gender': [Gender], 'Mobile': [Mobile], 'Address': [Address], 'Marital_Status': [Marital_Status]}
print(output)

with open('form.txt', r'a') as file:
  file.write(str(output))

{'Name': ['nethaji'], 'Gender': ['Male'], 'Mobile': [9876543210], 'Address': ['India'], 'Marital_Status': ['Single']}

In [ ]:
import pandas as pd
df = pd.DataFrame(output)
df.head()

      Name Gender      Mobile Address Marital_Status
0  nethaji   Male  9876543210   India         Single

In [ ]:
df.to_csv("new.csv")

In [ ]:
import pandas as pd
df1 = pd.read_csv("/content/new.csv")
df1.head

<bound method NDFrame.head of    Unnamed: 0     Name Gender      Mobile Address Marital_Status
0           0  nethaji   Male  9876543210   India         Single>

In [ ]:
with open("form.txt") as f:
  read=f.read()
print(read)

Name, Appartment No., Street, District, Country, Mobile No., Gender, Marital Status
Name, 0, Street, District, Country, 54655654635, Gender, Marital Status
{'Name': ['nethaji'], 'Gender': ['Male'], 'Mobile': [9876543210], 'Address': ['India'], 'Marital_Status': ['Single']}Name, Appartment No., Street, District, Country, Mobile No., Gender, Marital Status
Name, 0, Street, District, Country, 54655654635, Gender, Marital Status
{'Name': ['nethaji'], 'Gender': ['Male'], 'Mobile': [9876543210], 'Address': ['India'], 'Marital_Status': ['Single']}

In [ ]:
with open("form.txt") as f:
  read=f.read()
print(read)


#for x in read:
#  print(x[])

#1.filter outeput all names
#2.search using name

#1.create a calculator using colab UI

Name, Appartment No., Street, District, Country, Mobile No., Gender, Marital Status
Name, 0, Street, District, Country, 54655654635, Gender, Marital Status
{'Name': ['nethaji'], 'Gender': ['Male'], 'Mobile': [9876543210], 'Address': ['India'], 'Marital_Status': ['Single']}Name, Appartment No., Street, District, Country, Mobile No., Gender, Marital Status
Name, 0, Street, District, Country, 54655654635, Gender, Marital Status
{'Name': ['nethaji'], 'Gender': ['Male'], 'Mobile': [9876543210], 'Address': ['India'], 'Marital_Status': ['Single']}

In [ ]:
lines = []
with open("/content/form.txt") as f:
    lines = f.readlines()
#dictionary = lines[2]
print(lines[-1])

{'Name': ['nethaji'], 'Gender': ['Male'], 'Mobile': [9876543210], 'Address': ['India'], 'Marital_Status': ['Single']}

In [ ]:
#@title Swiss Bank

#Name = 'Rangandh' #@param {type: 'string'}
#Gender = "Select" #@param ['Select', 'Male', 'Female', 'Other']
#Mobile =  9876543211#@param {type: 'integer'}
#Address = 'India' #@param {type: 'string'}
#Marital_Status = 'Little Baby' #@param ['Select', 'Single', 'Married']

Name = 'Select' #@param {type: 'string'} ['Select', 'Nethaji', 'Rangandh', 'Yoga', 'bindu']
Gender = "Select" #@param ['Select', 'Male', 'Male', 'Female','Female']
Mobile =  9876543210 #@param {type: 'integer'}
Address = 'India' #@param {type: 'string'}
Marital_Status = 'Select' #@param ['Select', 'Single', 'Married','Little Baby','Married']

output = {'Name': [Name], 'Gender': [Gender], 'Mobile': [Mobile], 'Address': [Address], 'Marital_Status': [Marital_Status]}
print(output)

with open('form.txt', r'a') as file:
  file.write(str(output))

{'Name': ['Select'], 'Gender': ['Select'], 'Mobile': [9876543210], 'Address': ['India'], 'Marital_Status': ['Select']}

In [ ]:
lines = []
with open("/content/form.txt") as f:
    lines = f.readlines()
#dictionary = lines[2]
print(lines[-1])

{'Name': ['nethaji'], 'Gender': ['Male'], 'Mobile': [9876543210], 'Address': ['India'], 'Marital_Status': ['Single']}{'Name': ['ranganadh'], 'Gender': ['Male'], 'Mobile': [9876543211], 'Address': ['India'], 'Marital_Status': ['Married']}{'Name': ['ranganadh'], 'Gender': ['Male'], 'Mobile': [9876543211], 'Address': ['India'], 'Marital_Status': ['Married']}{'Name': ['ranganadh'], 'Gender': ['Select'], 'Mobile': [9876543211], 'Address': ['India'], 'Marital_Status': ['Married']}{'Name': ['Select'], 'Gender': ['Select'], 'Mobile': [9876543211], 'Address': ['India'], 'Marital_Status': ['Married']}{'Name': ['Select'], 'Gender': ['Select'], 'Mobile': [9876543210], 'Address': ['India'], 'Marital_Status': ['Married']}{'Name': ['Select'], 'Gender': ['Select'], 'Mobile': [9876543210], 'Address': ['India'], 'Marital_Status': ['Married']}{'Name': ['Select'], 'Gender': ['Select'], 'Mobile': [9876543210], 'Address': ['India'], 'Marital_Status': ['Select']}